.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f9;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-app {
  margin-left: 270px; /* matches sidebar width */
  margin-top: 70px; /* matches header height */
  margin-bottom: 70px; /* matches footer height */
  padding: 20px;
  min-height: calc(100vh - 140px);
  background-color: #f8f9fa;
}
