/* MAIN WRAPPER */
.dashboard-container {
  display: flex;
  background: #f2f4f7;
  height: 100vh;
}

/* SIDEBAR */
.SidebarLayout {
  width: 250px;
  background: #2f3542;
  color: white;
  padding: 20px 0;
}

.profile-section {
  text-align: center;
}

.profile-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 16px;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px 20px;
  border-bottom: 1px solid #404756;
  cursor: pointer;
  font-size: 15px;
}

.menu li:hover {
  background: #57606f;
}

/* CONTENT AREA */
.content {
  flex: 1;
  padding: 30px;
}

/* GRID CARDS */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  gap: 25px;
}

/* CARD DESIGN */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  color: white;
  font-family: Arial;
}

.card h2 {
  margin-top: 10px;
  font-size: 20px;
}

.card h1 {
  font-size: 45px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  opacity: 0.9;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* COLORS */
.green { background: #2ed573; }
.blue { background: #1e90ff; }
.orange { background: #ffa502; }
.purple { background: #6c5ce7; }
.red { background: #ff4757; }
.pink { background: #ff6b81; }
