/* src/components/DashboardCard.css */
.dashboard-card {
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-icon {
  font-size: 30px;
  margin-bottom: 10px;
}
