/* src/components/Header.css */
.header {
  height: 60px;
  background-color: #343a40;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
